
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color:hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
}

main{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

html,body{
    height: 100%;
    margin: 0;
}

.Mainimage img{
    width: 100%;
    position: relative;
    top: 50px;
    border-radius: 10px;
    
}

.Text{
    background-color: white;
    height: 295px;
    z-index: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: hsl(217, 19%, 35%);

}

h1,p{
    margin: 0;
}

p{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    color: hsl(214, 17%, 51%);
    padding:1em 0;
    line-height: 1.6em;
}
.authorimage img{
    width: 76%;
    border: solid transparent;
    border-radius: 50px;
}

.Share{
    display: none;
    height: 0;
}

.Share.click{
    display: block;
}

.darkIcon.toWhite{
    filter: brightness(1000%) contrast(100%);
}
#ShareIcons{
    display: flex;
    background-color: hsl(217, 19%, 35%);
    width: 319px;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    right: 34px;
    top: 9px;
    align-items: center;
    
}

.author{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    grid-gap: 0.5em;
    margin-top: 10px;
}


.content{
    margin: 2.1em;
}

#name{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: hsl(217, 19%, 35%);

}

#date{
    color:hsl(212, 23%, 69%);
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

.shareButton{
    border: solid transparent;
    background-color:hsl(210, 46%, 95%);
    border-radius: 50px;
    width: 35px;
    height: 35px;
}
.shareButton.darken{
    background-color: hsl(214, 17%, 51%);
    z-index: 0;
    position: relative;
    top: 8px;
}

.namedate{
    line-height: 1.3em;
}

/* #triangle{
    background-color: hsl(217, 19%, 35%);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 2px;
    top: 41px;
    transform: rotate(45deg);
    right: 108px;

} */

#ShareIcons span{
    color:hsl(212, 23%, 69%);
    text-transform:uppercase;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    letter-spacing: 0.3em;
    margin:0 10px;
    margin-left: 34px;
    margin-right: 10px;

}

#ShareIcons img{
    margin:0 10px;
    width: 6%;
}